* {
	margin: 0;
	padding: 0;
	list-style-position: inside;
}

html {
	overflow-y: auto;
}

body {
	font: 14px/1 Georgia, Serif;
	color: #333;
	line-height: 20px;
	background: #e9e9e9;
}

.nonserif, .ns, .wikihead {
	font-family: 'Helvetiva Neue', Arial, Helvetica, sans-serif;
}

.serif, .sf {
	font-family: Georgia, Serif;
}

p, li {
	margin: 0 0 5px;
}

ul ul, ul ol, ol ol, ol ul {
	padding-left: 20px;
}

img {
	vertical-align: middle;
}

a,
a img {
	border: none;
	outline: none;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

.aligncenter {
	margin: 0 auto;
}

img.aligncenter {
	display: block;
}

.clear, [clear] {
	clear: both;
	display: block;
}

.hide {
	display: none;
}

#page-wrap {
	width: 960px;
	margin: 25px auto 40px;
	z-index: 3000px;
	padding: 0 20px;
	position: relative;
	background: #fff;
	outline: 20px solid #fff;
	outline-top-width: 5px;
}

h2, h3, h4, h5 {
	margin: 25px 0 15px -20px;
	font-weight: 700;
}

h1,
.main-style {
	font: 26px Georgia, Serif;
	margin: 10px 0;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 15px;
	margin-top: 15px;
	margin-bottom: 5px;
}

h5 {
	font-size: 14px;
	margin-top: 7px;
	margin-bottom: 2px;
	font-weight: 400;
}

hr {
	margin: .2em 0;
	clear: both;
}

hr.outside {
	margin-left: -20px;
}

pre {
	word-wrap: break-word;
}

.mw-code {
	border: 1px solid #EBEBEB;
	background-color: #F7F7F7;
	padding: 1em;
}

a {
	color: #0645ad;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

a:visited {
	color: #636;
}

.nonvisitedlinks a:visited {
	color: #636;
}

a:hover {
	color: #faa700;
}

a.new {
	color: #BA0000;
}

h1 a {
	color: #333 !important;
	text-decoration: none;
}

abbr {
	border-bottom: 1px dotted #888;
}

abbr:hover, label[title]:hover {
	cursor: help;
}

/* Contain floats:  h5bp.com/q */
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* .basetool-msg class */
.basetool-msg {
	margin: 5px 0 10px;
	padding: 7px;
	background: #e9e9e9;
	border: 1px solid #888;
	font-weight: 700;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 5px #888;
}

.basetool-msg.warning, .basetool-msg.error {
	padding-top: 15px;
	padding-left: 60px;
	min-height: 35px;
}

.basetool-msg.warning {
	background-image: url(//upload.wikimedia.org/wikipedia/commons/thumb/5/53/Crystal_Clear_app_error.png/45px-Crystal_Clear_app_error.png);
	background-position: 5px 5px;
	background-repeat: no-repeat;
}

/* Legacy .msg class */
.msg {
	margin: 5px 0 10px;
	padding: .5em;
	background: #e9e9e9;
	border: 1px solid #888;
	font-weight: 700;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 1px 1px 5px #888;
	-moz-box-shadow: 1px 1px 5px #888;
}

.msg img {
	vertical-align: middle;
	float: none;
	margin: 0 .5em 0 0;
}

.msgline {
	margin: 0 0 5px;
	padding: .2em;
	border: 1px solid #888;
}

.msg img {
	vertical-align: middle;
	float: none;
	margin: 0 .5em 0 0;
}

.msg p {
	margin: 0;
}

.msg.thanks, .msg.success {
	background: #9f3;
	border: 1px solid green;
	box-shadow: 1px 1px 5px green;
}

.msg.error {
	color: #000;
	background: #ffe9e9;
	border: 2px solid red;
	box-shadow: 1px 1px 5px red;
}

.msgline.error {
	color: #000;
	box-shadow: 1px 1px 5px red;
}

.warning-msg {
	margin: 5px 0 10px;
	padding: .5em;
	background-color: #333;
	color: #eee;
	letter-spacing: 1px;
	font: 15px/140% HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.warning-msg small {
	font-size: 11px;
	line-height: 100%;
	letter-spacing: 0;
}

.warning-msg a {
	color: #00BFFF;
}

.warning-msg img {
	margin: 0 .5em .5em 0;
}

.warning-msg strong {
	font-size: larger;
}

button {
	padding: 2px 6px 3px;
}

span.req {
	color: red !important;
}

input[type="submit"] {
	float: right;
}

input[nof], .nof {
	float: none !important;
}

textarea {
	margin: 5px 0 10px;
}

table.miniTable {
	border-collapse: collapse;
}

/* Intuition */
.int-dashboardbacklink {
	float: right;
}

.int-promobox {
	border: 1px solid threedface;
	padding: 5px 8px;
	margin: 10px 0;
	font-size: 85%;
}

.int-promobox .int-dashboardbacklink {
	float: none;
}
